<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenjing.seckill.db.dao.SeckillOrderMapper">
    <sql id="Base_Column_List">
        id, order_no, order_status, seckill_activity_id, user_id, order_amount, create_time,
        pay_time
    </sql>
    <select id="getOrderById" resultType="com.wenjing.seckill.db.po.SeckillOrder">
        select * from seckill_order where id = #{id}
    </select>
    <insert id="addOrder" >
        insert into seckill_order(id,commodity_id,seckill_activity_id,money,user_id,status,pay_time,create_time)
        values(#{id},#{commodityId}, #{seckillActivityId}, #{money}, #{userId}, #{status}, #{payTime}, #{createTime})
    </insert>
    <update id="updateOrder" >
        update seckill_order
        set commodity_id=#{commodityId}, seckill_activity_id=#{seckillActivityId}, money=#{money}, user_id=#{userId}, status=#{status}, pay_time=#{payTime}, create_time=#{createTime} where id=#{id}
    </update>
    <delete id="deleteOrder" >
        delete from seckill_order where id=#{id}
    </delete>
    <select id="getOrderByNo" >
        select
        <include refid="Base_Column_List"/>
        from seckill_order
        where order_no = #{orderNo,jdbcType=BIGINT}
    </select>
</mapper>