<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenjing.seckill.db.dao.SeckillActivityMapper">
    <select id="getActivityById" resultType="com.wenjing.seckill.db.po.SeckillActivity">
        select * from seckill_activity where id = #{id}
    </select>
    <insert id="addActivity" >
        insert into seckill_activity(id,name,commodity_id,old_price,seckill_price,activity_status,start_time,end_time,total_stock,available_stock,lock_stock)
        values(#{id},#{name}, #{commodityId}, #{oldPrice}, #{seckillPrice}, #{activityStatus}, #{startTime}, #{endTime}, #{totalStock}, #{availableStock}, #{lockStock})
    </insert>
    <update id="updateActivity" >
        update seckill_activity
        set name=#{name}, commodity_id=#{commodityId}, old_price=#{oldPrice}, seckill_price=#{seckillPrice}, activity_status=#{activityStatus}, start_time=#{startTime}, end_time=#{endTime}, total_stock=#{totalStock}, available_stock=#{availableStock}, lock_stock=#{lockStock} where id=#{id}
    </update>
    <delete id="deleteActivity" >
        delete from seckill_activity where id=#{id}
    </delete>
</mapper>