<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>秒杀活动发布</title>
</head>
<body>

<h2>欢迎来到发布页面</h2>
<form action="/addSeckillActivityAction" method="post">
    <label>秒杀活动名称:</label>
    <input type="text" name="name"><br><br>
    <label>商品ID</label>
    <input type="text" name="commodityId"><br><br>
    <label>秒杀价格</label>
    <input type="text" name="seckillPrice"><br><br>
    <label>商品原价</label>
    <input type="text" name="oldPrice"><br><br>
    <label>秒杀商品数量</label>
    <input type="text" name="seckillNumber"><br><br>
    <label>开始时间：</label>
    <input type="datetime-local" name="startTime"><br><br>
    <label>结束时间：</label>
    <input type="datetime-local" name="endTime"><br><br>
    <input type="submit" value="提交">
</form>
</body>
</html>